:root {
    --main-bg-color: #ffffff;
    --even-panel-bg-color: #f7f4eb;
    --main-text-color: #443627;
    --link-color: #356c96;
    --subheader-color: #db6455;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

html {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.content {
    width: 50%;
    margin: auto;
}

.container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.container:nth-child(2n) {
    background-color: var(--even-panel-bg-color);
    box-shadow: 0px 10px 30px rgba(0,0,0,.08);
}

/* text styles start */
a {
    color: var(--link-color);
    margin: 0px;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
}

h1, h3 {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 63px;
}

h2 {
    font-size: 36px;
}

h2.section-title {
    padding-bottom: 30px;
}

h3 {
    font-size: 20px;
}
span {
    margin: 0px 10px;
}
/* text styles end */

/* header styles start */
header.container {
    padding-top: 300px;
}
.subheader {
    font-weight: 200;
    font-size: 28px;
    padding-top: 20px;
    color: var(--subheader-color);
}
.header-content {
    display: inline;
}
/* header styles end */

/* card styles start */
.card {
    background: var(--main-bg-color);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    transition: box-shadow .1s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
    font-weight: 300;
}

.card-content {
    color: var(--main-text-color);
    padding: 30px;
}
/* card styles end */

/* project section styles start */
#projects-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
}
/* project section styles end */

/* contact info styles start */
.contact-info-links {
    display: flex;
    justify-content: center;
}
/* contact info styles end */